<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuaActivity" android:label="@string/pageone" android:theme="@style/AppTheme3">></activity>
        <activity android:name=".MenubActivity" android:label="@string/pagetwo" android:theme="@style/AppTheme4">></activity>
        <activity android:name=".MenucActivity" android:label="@string/pagethree" android:theme="@style/AppTheme5">></activity>
        <activity android:name=".FoodaActivity" android:theme="@style/AppTheme2"></activity>
        <activity android:name=".Food_a2Activity" android:theme="@style/AppTheme2"></activity>
        <activity android:name=".Food_a3Activity" android:theme="@style/AppTheme2"></activity>
        <activity android:name=".Food_b1Activity" android:theme="@style/AppTheme2"></activity>
        <activity android:name=".Food_b2Activity" android:theme="@style/AppTheme2"></activity>
        <activity android:name=".Food_b3Activity" android:theme="@style/AppTheme2"></activity>
        <activity android:name=".Food_c1Activity" android:theme="@style/AppTheme2"></activity>
        <activity android:name=".Food_c2Activity" android:theme="@style/AppTheme2"></activity>
        <activity android:name=".Food_c3Activity" android:theme="@style/AppTheme2"></activity>

    </application>

</manifest>